/**
 * Created by caofk on 2018/11/29.
 */
body,html{
	overflow-x: hidden;
}
.app {
	width: 750px;
	height: 200px;
	background: #f27a7a;
	color: #ffffff;
	line-height: 200px;
	text-align: center;
	font-size: 36px;
}

.list {
	height: 80px;
	width: 720px;
	margin: 10px auto 10px auto;
	border: 1px solid #f27a7a;
	font-size: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.row {
	margin: 40px 0;
}

.cat {
	width: 650px;
	height: 400px;
	margin: 0 auto;
	display: block
}


@svg square {
	@rect {
		fill: var(--color, black); width: 100%; height: 100%;
	}
}
#example {
	background: white svg(square param(--color #00b1ff));
	height: 1px;
	width: 100%;
	margin: 40px 0;
}

img {content: normal !important}

.box-row{
	margin: 0 auto;
	width: 750px;
}
.box{
	border: 1px solid #f27a7a;
	width: 400px;
	height: 400px;
	margin: 0 auto;
}

.inner-box{
	width: 80px;
	height: 80px;
	border: 1px solid #f27a7a;
	padding: 100px;
	margin: 60px;
}
